<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.fmd.cocecl"
    android:versionCode="1"
    android:versionName="0.0.11" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" >
    </uses-sdk>

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <uses-permission android:name="it.fmd.cocecl.permission.C2D_MESSAGE" />
    <permission
        android:name="it.fmd.cocecl.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="it.fmd.cocecl.permission.MAPS_RECEIVE" />
    <permission
        android:name="it.fmd.cocecl.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />


    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens= "true"
        android:anyDensity="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/cocecl"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:logo="@mipmap/cocecl">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="myapikey"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".InfoActivity"
            android:label="@string/app_name" >
            #android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            #android:screenOrientation="portrait" >
        </activity>

        <!--
        not an activity -> is a Fragment
        <activity
            android:name=".statusFragment"
            android:label="@string/statustab" >
        </activity>
        <activity
            android:name=".fielddataFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".deliverylocFragment"
            android:label="@string/deliverylocFragment">
        </activity>
        -->

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            #android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
            #android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".PatmanActivity"
            android:label="@string/title_activity_patman"
            android:screenOrientation="landscape">
        </activity>

        <receiver android:name=".utilclass.SMSBroadcastReceiver" android:exported="true" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="it.fmd.cocecl.gcm.GCMBroadcastReceiver"
            android:permission="it.fmd.cocecl.c2dm.permission.SEND" >
            <intent-filter>

                <action android:name="it.fmd.cocecl.c2dm.intent.RECEIVE" />
                <action android:name="it.fmd.cocecl.c2dm.intent.REGISTRATION" />

                <category android:name="it.fmd.cocecl" />
            </intent-filter>
        </receiver>

        <service android:name="it.fmd.cocecl.gcm.GCMNotificationIntentService" />

        <receiver android:name="it.fmd.cocecl.utilclass.ConnectionManager$ConnectivityBroadcast" android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
